body{
    background-color: lightgreen;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: large;
}

div{
    width:200px;
    height: 200px;
    /* display:inline-block; */
}

.red{
    background-color: red;
}

.green{
    background-color:green;
}

.blue{
    background-color:blue;
}

.orange{
    background-color:orange;
}

.brown{
    background-color:brown;
}

.magneta{
    background-color: magenta;
}

.cyan{
    background-color: cyan;
}

.black{
    background-color: black;
}

.teal{
    background-color: teal;
}

@media screen and (min-width:700px) and (max-width:900px){
    body{
        background-color: red;
    }
}